.board__undo {
  display: flex;
  justify-content: flex-end;
}

.board__undo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 34px;
  margin-top: 5px;
  padding-left: 20px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #bebebe;
  background-image: url("../../../img/undo.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 15px top 50%;
  color: #fff;
  transition: background-color .2s ease-out;
  cursor: auto;
}

.board__undo-button_active {
  background-color: #ff6d00;
  box-shadow: 3px 4px 9px 2px #8d380026;
  cursor: pointer;
}

.board__undo-button_active:hover {
  background-color: #ff8124;
}