.board__tile {
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
  background-color: #8ac6f8;
  background-size: 65%;
  border-radius: 10px;
  box-shadow: 3px 4px 9px 2px #000c8d26;
  cursor: pointer;
  transition: background-size 0.1s ease-in;
}

.board__tile:hover {
  outline: 2px solid #2196f3;
}

.board__tile_zero, .board__tile_cross {
  background-repeat: no-repeat;
  background-position: center;
  cursor: auto;
}

.board__tile_zero {
  background-image: url("../../../../img/zero.png");
  background-size: 70%;
}

.board__tile_cross {
  background-image: url("../../../../img/cross.png");
  background-size: 80%;
}

.board__tile_zero:hover, .board__tile_cross:hover {
  outline: none;
}