body {
  font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #eff1f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}